{%  extends 'base.html' %}


{%  block content  %}
 <style>
    .testing{
        background-color: brown;
        margin: 1rem;
        height: 48px;
        width:48px;
        border-radius: 0.5rem;
    }
 </style>
<div style="height: 30rem; background-color: antiquewhite; border-radius: 1rem; margin: 2rem">

<h1>
    test
</h1>
<div class="testing" style="display: block">block</div>
<div class="testing" style="display: inline">inline</div>
<div class="testing" style="display: inline-block">inline-block</div>
<div class="testing" style="display: none">none</div>
</div>
{% endblock %}
