.ezirp_header_logo{
    margin: 2rem 0;  font-family: 'Noto Serif', serif ;
}

.ezirp_header_button{
    margin-bottom: 2rem ;  font-family: 'Noto Serif', serif ;
}

.ezirp_footer_logo{
    margin-top: 1.5rem; font-family: 'Noto Serif', serif;
}

.ezirp_footer_button{
    margin: 1.5rem 0; font-family: 'Noto Serif', serif;
}

.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width:12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B{
    font-family: "Noto Serif",cursive;
}