<div style="text-align: center">
    <div class="ezirp_header_logo">
        <h1>ezirp</h1>
    </div>
    <div class="ezirp_header_button">
        <span>menu1</span>
        <span>menu2</span>
        {%  if not user.is_authenticated %}
        <span>
            <a href='{% url 'accountapp:login' %}'>
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">

            </a>
        </span>
        {% else %}
        <span>
            <a href=" {% url "accountapp:logout" %}">
            Logout

            </a>
        </span>
        {% endif %}
    </div>

</div>